node_modules
package.lock
*.log
.DS_Store

# local env file
/.env
# local override file
/docker-compose.override.yml

# Ignore act stuff?
.actrc
act/

# yarn 2 stuff
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/versions
**/.pnp.*
# ignore sdk stuff
**/.vim
