[submodule "auth/oada-ref-auth-js"]
	path = auth/oada-ref-auth-js
	url = git@github.com:OADA/oada-ref-auth-js.git
[submodule "oada-srvc-tests"]
	path = oada-srvc-tests
	url = https://github.com/OADA/oada-srvc-tests.git
[submodule "http-handler/oada-srvc-http-handler"]
	path = http-handler/oada-srvc-http-handler
	url = git@github.com:OADA/oada-srvc-http-handler.git
[submodule "graph-lookup/oada-srvc-graph-lookup"]
	path = graph-lookup/oada-srvc-graph-lookup
	url = https://github.com/OADA/oada-srvc-graph-lookup.git
