[submodule "auth/oada-ref-auth-js"]
	path = auth/oada-ref-auth-js
	url = git@github.com:OADA/oada-ref-auth-js.git
[submodule "http-handler/oada-srvc-http-handler"]
	path = http-handler/oada-srvc-http-handler
	url = git@github.com:OADA/oada-srvc-http-handler.git
[submodule "graph-lookup/oada-srvc-graph-lookup"]
	path = graph-lookup/oada-srvc-graph-lookup
	url = git@github.com:OADA/oada-srvc-graph-lookup.git
[submodule "token-lookup/oada-srvc-token-lookup"]
	path = token-lookup/oada-srvc-token-lookup
	url = git@github.com:OADA/oada-srvc-token-lookup.git
[submodule "tests/oada-srvc-tests"]
	path = tests/oada-srvc-tests
	url = git@github.com:OADA/oada-srvc-tests.git
[submodule "well-known/oada-srvc-well-known"]
	path = well-known/oada-srvc-well-known
	url = git@github.com:OADA/oada-srvc-well-known.git
[submodule "admin/oada-lib-arangodb"]
	path = admin/oada-lib-arangodb
	url = git@github.com:OADA/oada-lib-arangodb.git
[submodule "startup/oada-srvc-startup"]
	path = startup/oada-srvc-startup
	url = git@github.com:OADA/oada-srvc-startup.git
[submodule "admin/oada-lib-config"]
	path = admin/oada-lib-config
	url = git@github.com:OADA/oada-lib-config.git
