# Code Owners Declaration
# This file defines the code owners for files in this repository
# See documentation here: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default group of people?
* @awlayton @abalmos @aultac

oada/.dockerignore @awalyton
.prettierignore @awlayton
.prettierrc.json @awlayton
.gitattributes @aultac

docker-compose.yml @abalmos @awlayton
common.yml @abalmos
mutagen-compose.yml @awlayton

scripts @aultac

# Ault made the nginx stuff
support/proxy @aultac

oada/Dockerfile @abalmos @awlayton
oada/lerna.json @awlayton

oada/libs/oada-lib-kafka @awlayton
#oada/libs/oada-lib-arangodb
oada/libs/oada-lib-config @aultac

# Service authors?
oada/services/auth @abalmos
oada/services/graph-lookup @sanoel
oada/services/http-handler @awlayton
#oada/services/permissions-handler
oada/services/rev-graph-update @wang701
#oada/services/shares
oada/services/startup @aultac
oada/services/sync-handler @awlayton
#oada/services/token-lookup
oada/services/users @aultac
oada/services/webhooks @awlayton
oada/services/well-known @awlayton
oada/services/write-handler @awlayton

# Yaguang wrote the tests
oada/tests @YaguangZhang


# Andrew intially created all the files in .github with some additions by Aaron
.github            @abalmos
.github/workflows/validate-codeowners.yml @aaron97neu
.github/workflows/build-and-push-services.yml @abalmos @awlayton
.github/workflows/codeql-analysis.yml @awlayton
.github/workflows/snyk-dockers.yml @awlayton

