# Code Owners Declaration
# This file defines the code owners for files in this repository
# See documentation here: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default group of people?
* @awlayton @abalmos @aultac

.gitattributes @aultac

# prettier
.prettierignore @awlayton
.prettierrc.json @awlayton

# docker
oada/.dockerignore @awalyton
oada/Dockerfile @abalmos @awlayton
docker-compose.yml @abalmos @awlayton
common.yml @abalmos

# eslint
.eslint* @awlayton

# Alex made swag based proxy
support/proxy @awlayton

oada/lerna.json @awlayton

oada/libs/lib-kafka @awlayton
oada/libs/pino-debug @awlayton
#oada/libs/oada-lib-arangodb
oada/libs/lib-config @awlayton

# Service authors?
oada/services/auth @abalmos
oada/services/http-handler @awlayton
#oada/services/permissions-handler
oada/services/rev-graph-update @wang701
#oada/services/shares
oada/services/startup @aultac
oada/services/sync-handler @awlayton
oada/services/users @aultac
oada/services/webhooks @awlayton
oada/services/well-known @awlayton
oada/services/write-handler @awlayton

# Yaguang wrote the tests
oada/tests @YaguangZhang

# Alex made the release nonsense
release @awlayton

# Andrew intially created all the files in .github with some additions by Aaron
.github            @abalmos
.github/workflows/validate-codeowners.yml @aaron97neu
.github/workflows/build-and-push-services.yml @abalmos @awlayton
.github/workflows/codeql-analysis.yml @awlayton

