{
  "parser": "@typescript-eslint/parser",
  "plugins": ["typescript", "react-hooks"],
  "extends": ["standard", "standard-jsx"],
  "rules": {
    "semi": ["error", "always"],
    "no-extra-semi": "error",
    "space-before-function-paren": "off",
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "no-unused-vars": "off",
    "import/export": 0
  }
}
