# Don't copy host node_modules into images
**/node_modules

# Don't copy in git history?
**/.git*

# Don't copy tests into images?
**/test
**/tests
**/__test__
**/__tests__
**/*.spec.*
**/*.test.*

**/*.log
**/.DS_Store

# Docker stuff
**/Dockerfile
**/.dockerignore

# Editor junk
**/tags*
**/GTAGS
**/GPATH
**/GRTAGS
**/.session*
**/.undodir
**/.history
**/.vim
**/.vscode
**/.eslintignore
**/.eslintrc.*
**/.prettierignore
**/commitlint.config.*

**/README.*

# Built TS etc.
**/dist
**/.test
**/*.tsbuildinfo

# yarn 3 stuff
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*
# ignore sdk stuff
.vim
