name: Validate Codeowners file

permissions: read-all

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  validate-codeowners:
    runs-on: ubuntu-latest

    steps:
      # Check out repo to be validated in enxt stop
      - uses: actions/checkout@v6

        # Ensure that the owners file is valid
        # https://github.com/marketplace/actions/github-codeowners-validator
      - name: GitHub CODEOWNERS Validator
        uses: mszostok/codeowners-validator@v0.7.1
        with:
          # Explanation of checks
          # files: Reports if codeowners file contains a filepath that does not exist in the repo
          # owners Reports if codeowners file contains an invaid owner
          #        The check to see if an owner is part of the organization does not appear to work,
          #        so we will not be using it for now
          # duppaterns: Reports if codeowners file contains duplicated lines
          # syntax: Reports if file contains an invalid syntax definition
          checks: files,owners,duppatterns,syntax
          experimental_checks: notowned,avoid-shadowing

          # GitHub access token is required only if the `owners` check is enabled
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
